
  <div class="about-us-container container">
    <h2 class="about-us-titel">About&nbsp;<span class="accent-color"> Us</span></h2>
     <div class="about-us-picture">
     <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
          ./img/images/about-us/camera_desk.webp 1x,
          ./img/images/about-us/camera_desk_2x.webp 2x" />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/images/about-us/camera_tab.webp 1x,
            ./img/images/about-us/camera_tab_2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/images/about-us/camera_mob.webp 1x,
            ./img/images/about-us/camera_mob_2x.webp 2x
          "
          />
        
           <img
          class="about-us-img"
          src="./img/images/about-us/camera_mob.webp"
          alt="camera"
          width="704"
          loading="lazy" /> 
        </picture>
        <div class="about-us-wrapper">
          <p class="about-us-desc">
            Our photography school is designed to teach you everything you need to
            know about this magical art. Regardless of your experience or skill
            level, we offer a wide range of courses to suit your needs and
            interests. Our teaching team consists of experienced photographers who
            have many years of experience in this field. They strive not only to
            share their knowledge, but also to inspire you to develop and express
            your unique creativity.
          </p>
          <p class="about-us-desc">
            Our courses cover a wide range of topics, from the basics of photography
            and equipment use to professional image processing and creating
            impressive compositions. You will have the opportunity to learn the
            technical aspects of photography, discover your own style and develop
            your own visual language.
          </p>
        </div>
    </div>
  </div>
</section>
