<div class="container-footer container">
     <!-- <div clas="footer-logo-item">-->
              <div class="footer-logo">
                <ul class="footer-logo-item">
                  <li class="footer-logo-list">
                    <a class="footer-logo-link" href="./index.html" >
                      <svg class="icons-icon" width="123" height="16">
                        <use href="../svg/mob/symbol-defs.svg#icon-logo"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="footer-contact-list">
                    <a class="footer-contact-item-link" href="tel:+380665438912"
                          >UK: +38 066 543 8912</a>
                  </li>
                  <li class="footer-contact-list">
                    <p class="footer-contact-item-text">Ukraine, Kyiv</p>
                  </li>
                </ul>
               <!-- <a class="footer-logo-link" href="./index.html" >
                  <svg class="icons-icon" width="123" height="16">
                    <use href="../svg/mob/symbol-defs.svg#icon-logo"></use>
                  </svg>
                </a>
              </div>
                <address class="footer-contact">
                    <ul class="footer-contact-list">
                      <li class="footer-contact-item">
                        <a class="footer-contact-item-link" href="tel:+380665438912"
                          >UK: +38 066 543 8912</a>
                      </li>
                      <li class="footer-contact-item">
                        <p class="footer-contact-item-text">Ukraine, Kyiv</p>
                      </li>
                    </ul>
                </address>-->
              </div>

      <div class="footer-blok">
        <div class="footer-socials">
          <ul class="socials-item">
            <li class="socials-list">
              <a class="socials-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
            </li>
            <li class="socials-list">
              <a class="socials-link" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
            </li>
            <li class="socials-list">
              <a class="socials-link" href="https://www.youtube.com/c/GoIT" target="_blank">Youtube</a>
            </li>
          </ul>
        </div>

        <div class="footer-pages">
          <ul class="pages-item">
            <li class="pages-list">
              <a class="pages-link" href="../partials/about-us.html">About us</a>
            </li>
            <li class="pages-list">
             <a class="pages-link" href="../partials/our-courses.html">Our courses</a>
            </li>
            <li class="pages-list">
             <a class="pages-link" href="../partials/our-mentors.html">Our mentors</a>
            </li>
            <li class="pages-list">
             <a class="pages-link" href="../partials/reviews.html">Reviews</a>
            </li>
             <li class="pages-list">
             <a class="pages-link" href="../partials/footer.html">contacts</a>
            </li>
          </ul>
        </div>
  </div>

        <form class="footer-subscribe-form">
              <label class="form-item">
                <input
                  class="subscribe-form-input"
                  type="email"
                  name="subscribe"
                  placeholder="Enter your email"
                />
              </label>
              <button class="form-button" type="submit">
                Go
              </button>
        </form>
      </div>
          <div class="footer-bottom container">
            <p class="footer-text">Privacy Policy<br> Public Offering Agreement</p>

            <p class="footer-text">2023 Focus Frame<br>  &copy; All rights reserve</p>
          </div> 
             
</div>
    