<div class="header-container">
  <section class="header-section">
    <div class="container header-wrapper">
      <div class="box-nav">
        <nav class="header-nav">
          <a class="header-logo" href="index.html">
            <svg class="header-icon-logo">
              <use href="./svg/tab/symbol-defs.svg#icon-FocusFrame_tab"></use>
            </svg>
          </a>
          <a class="header-link" href="#singup">
            <svg class="header-icon-cam" width="16" height="16">
              <use href="./svg/mob/symbol-defs.svg#icon-bi_camera-fill"></use>
            </svg>
          </a>
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a class="header-nav-link" href="#about">About us</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#courses">Our courses</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#mentors">Our mentors</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#reviews">Reviews</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#contacts">contacts</a>
            </li>
          </ul>
          <button class="menu-btn openButton" type="button">
            <svg class="header-icon-nav" width="32" height="22">
              <use href="./svg/mob/symbol-defs.svg#icon-nav"></use>
            </svg>
          </button>
        </nav>
      </div>
      <div class="header-btn-wrapper">
        <a class="header-btn"  href="#singup">
          <span class="btn-link">sign&nbsp;up</span>
        </a>
      </div>
      <div class="menu myElement">
        <div class="menu-box">
          <button class="menu-close-btn closeButton" type="button">
            <svg class="btn-icon" >
              <use href="./svg/mob/symbol-defs.svg#icon-x"></use>
            </svg>
          </button>
          <div class="menu-wrapper">
            <p class="menu-text">About us</p>
            <ul class="menu-list">
              <li class="menu-item modalMenu">
                <a class="menu-link" href="#courses">Our courses</a>
              </li>
              <li class="menu-item modalMenu">
                <a class="menu-link" href="#mentors">Our mentors</a>
              </li>
              <li class="menu-item modalMenu">
                <a class="menu-link" href="#reviews">Reviews</a>
              </li>
              <li class="menu-item modalMenu">
                <a class="menu-link" href="#contacts">contacts</a>
              </li>
            </ul>
          </div>
          <img src="./img/images/modal/modal-camera_mob.webp" alt="" />
        </div>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>
