<div class="header-container">
    <nav class="header-nav">
        <ul class="header-list">
            <li class="header-item-logo">
                <a class="header-link-logo" href="index.html">
                    <svg class="header-logo">
                        <use href="../svg/mob/symbol-defs.svg#icon-logo"></use>
                    </svg>
                </a>
            </li>
            <li class="header-item-link">
                <a class="header-link-nav" href="Sign Up">
                    <svg class="header-icon">
                        <use href="../svg/mob/symbol-defs.svg#icon-bi_camera-fill"></use>
                    </svg>
                </a>
            </li>
            <li class="header-item-menu">
                <a class="header-link-menu" href="">
                    <svg class="menu-icon">
                        <use href="../svg/mob/symbol-defs.svg#icon-nav"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <!-- phone menu -->
        <div class="phone-menu">
            <div class="menu-wrapper">
                <svg>
                    <use href="../svg/mob/symbol-defs.svg#icon-x"></use>
                </svg>
                <div class="menu-wrapper-nav">
                    <p class="menu-text">About us</p>
                    <nav class="menu-nav">
                        <ul class="menu-list">
                            <li class="menu-item">Our courses</li>
                            <li class="menu-item">Our mentors</li>
                            <li class="menu-item">Reviews</li>
                            <li class="menu-item">contacts</li>
                        </ul>
                    </nav>
                    <img class="menu-img" src="" alt="">
                </div>
            </div>
        </div>
    </nav>
</div>