<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="wrapper-for-img">
        <h1 class="hero-title">
          Discover the magic of
          <span class="hero-title-italic">photography</span> in our school
        </h1>
        <p class="hero-text">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="hero-info">
          <div class="hero-our-students">
            <ul class="hero-our-students-list">
              <li class="hero-our-students-item">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/images/hero/girl-1_tab.webp    1x,
                      ./img/images/hero/girl-1_tab_2x.webp 2x
                    "
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/images/hero/girl-1_mob.webp    1x,
                      ./img/images/hero/girl-1_mob_2x.webp 2x
                    "
                  />
                  <img
                    class="hero-our-students-image"
                    src="./img/images/hero/girl-1_mob.webp"
                    alt="girl with light hair"
                  />
                </picture>
              </li>
              <li class="hero-our-students-item">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/images/hero/boy_tab.webp    1x,
                      ./img/images/hero/boy_tab_2x.webp 2x
                    "
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/images/hero/boy_mob.webp    1x,
                      ./img/images/hero/boy_mob_2x.webp 2x
                    "
                  />
                  <img
                    class="hero-our-students-image"
                    src="./img/images/hero/boy_mob.webp"
                    alt="boy smile"
                  />
                </picture>
              </li>
              <li class="hero-our-students-item">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/images/hero/girl_tab.webp    1x,
                      ./img/images/hero/girl_tab_2x.webp 2x
                    "
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/images/hero/girl_mob.webp    1x,
                      ./img/images/hero/girl_mob_2x.webp 2x
                    "
                  />
                  <img
                    class="hero-our-students-image"
                    src="./img/images/hero/girl_mob.webp"
                    alt="girl with light hair"
                  />
                </picture>
              </li>
            </ul>
            <a class="hero-link" href="#reviews">
              <span class="hero-link-text">Our happy students</span>
              <svg class="hero-link-icon" width="18" height="9">
                <use href="./svg/mob/symbol-defs.svg#icon-Arrow-2-Stroke"></use>
              </svg>
            </a>
          </div>
          <div class="hero-reviews">
            <div class="hero-reviews-icon-wrapper">
              <svg class="hero-reviews-icon" width="20" height="20">
                <use href="./svg/mob/symbol-defs.svg#icon-star-1"></use>
              </svg>
            </div>
            <div class="hero-reviews-text-wrapper">
              <p class="hero-reviews-name">Reviews</p>
              <p class="hero-reviews-amount">+1500</p>
            </div>
          </div>
        </div>
      </div>
      <picture>
        <source
          media="(max-width: 767.98px)"
          srcset="
            ./img/images/hero/camera-mob@1x.png 1x,
            ./img/images/hero/camera-mob@2x.png 2x
          "
        />
        <source
          media="(max-width: 1279px)"
          srcset="
            ./img/images/hero/man-with-camera_tab.webp    1x,
            ./img/images/hero/man-with-camera_tab_2x.webp 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/images/hero/man-with-camera_desk.webp    1x,
            ./img/images/hero/man-with-camera_desk_2x.webp 2x
          "
        />
        <img
          class="image-man"
          src="./img/images/hero/camera-mob@1x.png"
          alt="man with camera"
          fetchpriority="high"
        />
      </picture>
    </div>
  </div>
</section>
