<div class="container container-our-mentors">
<h2 class="fourth-title">Our <span class="accent">Mentors</span></h2>
<ul class="fourth-title-list">
    <li class="fourth-title-wrapper">
        <img class="our-mentors" srcset="./img/images/our-mentors/emilia-smith_mob.webp 1x, ./img/images/our-mentors/emilia-smith_mob_2x.webp 2x" 
        src="./img/images/our-mentors/emilia-smith_mob.webp" alt="girl with flowing hair in a white T-shirt" width="180" loading="lazy">
        <div class="artical-title-list">
            <h3 class="post-fourth-title">Emilia Smith</h3>
            <p class="post-fourth-text">1.5 years of experience</p>
        </div>
    </li>
    <li class="fourth-title-wrapper">
        <img class="our-mentors" srcset="./img/images/our-mentors/alex-lebedev_mob.webp 1x, ./img/images/our-mentors/alex-lebedev_mob_2x.webp 2x" 
        src="./img/images/our-mentors/alex-lebedev_mob.webp"
            alt="red-haired guy in a white T-shirt" width="180" loading="lazy">
        <div class="artical-title-list">
            <h3 class="post-fourth-title">Alex Lebedev</h3>
            <p class="post-fourth-text">3.5 years of experience</p>
        </div>
    </li>
    <li class="fourth-title-wrapper">
        <img class="our-mentors" srcset="./img/images/our-mentors/mia-dubrovska_mob.webp 1x, ./img/images/our-mentors/mia-dubrovska_mob_2x.webp 2x" 
        src="./img/images/our-mentors/mia-dubrovska_mob.webp"
            alt="girl in a black jacket" width="180" loading="lazy">
        <div class="artical-title-list">
            <h3 class="post-fourth-title">Mia Dubrovska</h3>
            <p class="post-fourth-text">2.0 years of experience</p>
        </div>
    </li>
    <li class="fourth-title-wrapper">
        <img class="our-mentors" srcset="./img/images/our-mentors/eliot-kovalev_mob.webp 1x, ./img/images/our-mentors/eliot-kovalev_mob_2x.webp 2x" 
        src="./img/images/our-mentors/eliot-kovalev_mob.webp"
            alt="curly boy with glasses" width="180" loading="lazy">
        <div class="artical-title-list">
            <h3 class="post-fourth-title">Eliot Kovalev</h3>
            <p class="post-fourth-text">4.0 years of experience</p>
        </div>
    </li>
</ul>
</div>
