<div class="container">
<h2 class="fourth-title">Our Mentors</h2>
<ul class="fourth-title-list">
    <li class="fourth-title-wrapper">
        <img srcset="./img/mob/webp/girl 1-1.webp 1x, ./img/mob/webp_2x/girl 1-1_2x.webp 2x" 
        src="./img/mob/webp/girl 1-1.webp" alt="girl with flowing hair in a white T-shirt" width="180" loading="lazy">
        <div class="artical-title-list">
            <h3 class="post-fourth-title">Emilia Smith</h3>
            <p class="post-fourth-text">1.5 years of experience</p>
        </div>
    </li>
    <li class="fourth-title-wrapper">
        <img srcset="./img/mob/webp/boy 1.webp 1x, ./img/mob/webp_2x/boy 1_2x.webp 2x" src="./img/mob/webp/boy 1.webp"
            alt="red-haired guy in a white T-shirt" width="180" loading="lazy">
        <div class="artical-title-list">
            <h3 class="post-fourth-title">Alex Lebedev</h3>
            <p class="post-fourth-text">3.5 years of experience</p>
        </div>
    </li>
    <li class="fourth-title-wrapper">
        <img srcset="./img/mob/webp/girl 2.webp 1x, ./img/mob/webp_2x/girl 2_2x.webp 2x" src="./img/mob/webp/girl 2.webp"
            alt="girl in a black jacket" width="180" loading="lazy">
        <div class="artical-title-list">
            <h3 class="post-fourth-title">Mia Dubrovska</h3>
            <p class="post-fourth-text">2.0 years of experience</p>
        </div>
    </li>
    <li class="fourth-title-wrapper">
        <img srcset="./img/mob/webp/boy 2.webp 1x, ./img/mob/webp_2x/boy 2_2x.webp 2x" src="./img/mob/webp/boy 2.webp"
            alt="curly boy with glasses" width="180" loading="lazy">
        <div class="artical-title-list">
            <h3 class="post-fourth-title">Eliot Kovalev</h3>
            <p class="post-fourth-text">4.0 years of experience</p>
        </div>
    </li>
</ul>
</div>
