<section class="reviews">
  <div class="container continer-reviews">
    <h2 class="title">Reviews</h2>
    <div class="user-div">
      <ul class="list">
        <li class="list-item">
          <img
            class="img-user"
            srcset="
              ../img/images/reviws/abraham-baker_mob.webp    1x,
              ../img/images/reviws/abraham-baker_mob_2x.webp 2x
            "
            src="../img/images/reviws/abraham-baker_mob.webp"
            alt="User"
            width="56px"
            height="56px"
          />
        </li>
        <li class="list-item-status">
          <h3 class="subtitle">Abraham Baker</h3>
          <p class="status">Student</p>
        </li>
        <li class="list-item-info">
          <p class="information">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </li>
      </ul>
      <ul class="list container-amanda">
        <li class="list-item">
          <img
            class="img-user"
            srcset="
              ../img/images/reviws/amanda-lowery.webp    1x,
              ../img/images/reviws/amanda-lowery_2x.webp 2x
            "
            src="../img/images/reviws/amanda-lowery.webp"
            alt="User"
            width="56px"
            height="56px"
          />
        </li>
        <li class="list-item-status">
          <h3 class="subtitle">Amanda Lowery</h3>
          <p class="status">Student</p>
        </li>
        <li class="list-item-info">
          <p class="information">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </li>
      </ul>
    </div>
    <ul class="stars">
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-lost">
        <svg class="icon-star icon-star-lost" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
    </ul>
    <ul class="stars-amanda">
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-lost">
        <svg class="icon-star icon-star-lost" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star-1"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
