<section class="reviews">
  <div class="container continer-reviews">
    <h2 class="title">Reviews</h2>
    <ul class="list">
      <li class="list-item">
    <div class="list">
      <div class="name-cont">
        <img
          class="img-user"
          srcset="
            ../img/images/reviws/abraham-baker_mob.webp    1x,
            ../img/images/reviws/abraham-baker_mob_2x.webp 2x
          "
          src="../img/images/reviws/abraham-baker_mob.webp"
          alt="User"
          width="56px"
          height="56px"
        />
      </li>
      <li class="list-item-status">
        <h3 class="subtitle">Abraham Baker</h3>
        <p class="status">Student</p>
      </li>
      <li class="list-item-info">
        <p class="information">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
    </ul>
    <ul class="stars">
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-list">
        <svg class="icon-star" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
      <li class="icon-star-lost">
        <svg class="icon-star-lost" width="16" height="16">
          <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
        </svg>
      </li>
     </ul>
        <div class="name">
          <h3 class="subtitle">Abraham Baker</h3>
          <p class="status">Student</p>
        </div>
      </div>
          <ul class="stars">
            <li class="icon-star-list">
              <svg class="icon-star" width="18" height="18">
                <use href="../svg/mob/symbol-defs.svg#icon-star-1"></use>
              </svg>
            </li>
            <li class="icon-star-list">
              <svg class="icon-star" width="18" height="18">
                <use href="../svg/mob/symbol-defs.svg#icon-star-1"></use>
              </svg>
            </li>
            <li class="icon-star-list">
              <svg class="icon-star" width="18" height="18">
                <use href="../svg/mob/symbol-defs.svg#icon-star-1"></use>
              </svg>
            </li>
            <li class="icon-star-list">
              <svg class="icon-star" width="18" height="18">
                <use href="../svg/mob/symbol-defs.svg#icon-star-1"></use>
              </svg>
            </li>
            <li class="icon-star-list">
              <svg class="icon-star-lost" width="18" height="18">
                <use href="../svg/mob/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
      <p class="information">
        I am very pleased that I decided to enroll in photography school. The
        teachers turned out to be very talented and experienced professionals
        who share their knowledge and are dedicated to their work. I was able to
        expand my skills and discover my own style.
      </p>
    </div>
  </div>
</section>
