/** {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,li {
    list-style-type: none;
p {
    margin: 0;
}
a {
    color: currentColor;
    text-decoration: none;
}
}*/


input,
button,
textarea {
    font: inherit;
}

footer {
  /*position: absolute;
  width: 100%;
  left:0;
  bottom:0;*/

  background-color: rgb(0, 0, 0);;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
   url('../img/images/hero/Graphic.png');
   border: 1px solid rgba(255, 255, 255, 0.2);
  
}

.container-footer {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}

/*@media only screen and (max-width: 767.98px) {
  .container-footer {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container-footer{
    max-width: 768px;
    padding-left: 32px;
    padding-top: 50px;
  padding-bottom: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-footer{
    max-width: 1280px;
    padding-left: 100px;
    
  }
}
/*.content-footer {
  display: flex;
  justify-content: space-between;
 
}*/
@media only screen and (max-width: 767.98px) {
  .content-footer {
    flex-wrap: wrap;
  
  }
}

@media screen and (min-width: 768px) {
  .content-footer {
    display: flex;
  justify-content: space-between;
  }
}



.footer-logo-wrapper {
  display: flex
}

.footer-logo {
  margin-bottom: 25px;
}

@media only screen and (max-width: 767.98px) {
   .icons-icon{
    width: 127px;
    height: 20px;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.footer-contact {
  margin-bottom: 10px;
}

.footer-contact-item-link {
  color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28; /* 128.571% */
text-transform: uppercase;
}

.footer-contact-item-link:hover {
  color: #BEA69E;
}

.footer-contact-item-text {
  color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28;
}
   
.footer-blok {
  display: inline-flex;
  align-items: flex-start;
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-blok{
    margin-left: 59px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-blok{
    margin-left: 285px;
  }
}

.footer-socials{
  margin-right: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-socials {
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-socials {
    margin-right: 100px;
  }
}

.socials-list {
  display: flex;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .socials-list{
    margin-bottom: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  .socials-list{
    margin-bottom: 20px;
  }
}

.socials-link {
  color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover {
  color: #BEA69E;
}

.pages-list {
  display: flex;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .pages-list{
    margin-bottom: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  .pages-list{
    margin-bottom: 20px;
  }
}
.pages-link {
  color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages-link:hover {
  color: #BEA69E;
}

.footer-subscribe-form {
 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-form{
    margin-left: 59px;
    display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 160px; 
  }
}
@media only screen and (min-width: 1280px) {
  .footer-subscribe-form{
    margin-left: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 160px;  
  }
}

.subscribe-form-input {
  width: 216px;
  height: 60px;
  border-radius: 12px;
  background-color: #FFF;
  color: #121212;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25; 
  padding: 20px 18px;
  border: none;
  margin-right: 8px;
}


@media only screen and (min-width: 768px) {
  .subscribe-form-input {
    margin-right: 8px;
  }
}

@media only screen and (min-width: 1280px) {
  .subscribe-form-input {
    margin-right: 16px;
  }
}

.form-button {
  width: 60px;
height: 60px;
border-radius: 12px;
background-color: #1D1D1D;
color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.28;
cursor: pointer;
border: none;
}




.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;

}

.footer-text {
  text-align: left;
  color: #FFF;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.33; /* 133.333% */
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer-text {
    color: #FFF;
    font-size: 14px;
    line-height:1.28;
  }
}
