.hero {
  background-image: url('../img/images/hero/camera-mob@1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
}
.hero-container {
  border-radius: 30px;
  background: #1d1d1d;
  padding-top: 40px;
  padding-bottom: 345px;
}
.hero-title {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1.6px;
  margin-bottom: 20px;
}
.hero-title-italic {
  font-style: italic;
  font-weight: 400;
}
.hero-text {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
}
.hero-info {
  display: flex;
  gap: 40px;
}
.hero-our-students {
  width: 109px;
}
.hero-link {
  display: flex;
  gap: 4px;
  align-items: center;
}
.hero-our-students-list {
  display: flex;
  margin-right: -24px;
  margin-bottom: 4px;
}
.hero-our-students-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}
.hero-our-students-item:nth-child(1) {
  z-index: 2;
}
.hero-our-students-item:nth-child(2) {
  z-index: 1;
  position: relative;
  left: -12px;
}
.hero-our-students-item:nth-child(3) {
  position: relative;
  left: -24px;
}
.hero-our-students-image {
  width: 100%;
}
.hero-link-text {
  width: 67px;
}
.hero-link-icon {
}
.hero-reviews {
  display: flex;
  gap: 12px;
  align-items: center;
}
.hero-reviews-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #bea69e;
}
.hero-reviews-icon {
}
.hero-reviews-text-wrapper {
}
.hero-reviews-name {
}
.hero-reviews-amount {
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/images/hero/camera-mob@2x.png);
  }
}
