.sign-up-section {
  display: flex;
}

.sign-up-form-section {
}

.title-sign-up {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  padding-bottom: 20px;
}

.sign-up-text {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding-bottom: 41px;
}

.sign-up-form-input {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  opacity: 0.7;
}

.textarea {
  padding-bottom: 40px;
}

.sign-up-form-comment {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  opacity: 0.7;
}

.sign-up-form-submit-btn {
  color: var(--black, #121212);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sign-up-policy {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

.privacy-policy-decoration {
  text-decoration: underline;
}

.sign-up-img {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .sign-up-section {
    max-width: 335px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .sign-up-section {
    max-width: 480px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .sign-up-section {
    margin-bottom: 150px;
  }

  .sign-up-img {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
