.sign-up-section {
  display: flex;
  margin-bottom: 75px;
}

.sign-up-form-section {
  max-width: 335px;
  max-height: 523px;
}

.title-sign-up {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  padding-bottom: 20px;
}

.sign-up-text {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding-bottom: 41px;
}

.sign-up-form-input {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  opacity: 0.7;
  background: transparent;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.sign-up-form-input:hover,
.sign-up-form-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.sign-up-form-comment {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  opacity: 0.7;
  background: transparent;
  resize: none;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.sign-up-form-comment:hover,
.sign-up-form-comment:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.textarea {
  padding-bottom: 40px;
}

.sign-up-form-submit-btn {
  color: #121212;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 14px 127px;
  border-radius: 12px;
  border: 0;
}

.sign-up-form-submit-btn:hover,
.sign-up-form-submit-btn:focus {
  color: #bea69e;
  background-color: #1d1d1d;
}

.sign-up-policy {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

.privacy-policy-decoration {
  text-decoration: underline;
}

.sign-up-img {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
}

@media screen and (max-width: 767px) {
  .sign-up-section {
    max-width: 335px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .sign-up-section {
    max-width: 480px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .sign-up-section {
    margin-bottom: 150px;
  }

  .sign-up-img {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
