/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./about-us.css');
@import url('./advertisement.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./our-courses.css');
@import url('./our-mentors.css');
@import url('./reviews.css');
@import url('./sing-up.css');

/* Приховати вертикальну панель прокрутки */
::-webkit-scrollbar {
  display: none;
}

/* Приховати горизонтальну панель прокрутки */
::-webkit-scrollbar-horizontal {
  display: none;
}

/* Приховати вертикальний бар прокрутки (WebKit/Blink) */
::-webkit-scrollbar-thumb {
  display: none;
}

/* Приховати горизонтальний бар прокрутки (WebKit/Blink) */
::-webkit-scrollbar-thumb-horizontal {
  display: none;
}

body {
  /* overflow: hidden; */
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.28px;
  letter-spacing: -0.02em;
}
.accent-color {
  color: #bea69e;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.background-img {
  background-image: url(../img/images/hero/Graphic.png);
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .background-img {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .background-img {
    padding-bottom: 150px;
  }
}
@media only screen and (max-width: 767.98px) {
  .container {
    max-width: 375px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.25; /* 125% */
  }
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
