/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./about-us.css');
@import url('./advertisement.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./our-courses.css');
@import url('./reviews.css');
@import url('./sing-up.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}
